@use '../../scss/mixins/_loading.scss' as *;

.section_container {
  max-width: 100vw;
  width: 100%;
}

.main_wrapper {
  width: 100%;
  min-height: 95vh;
  padding: 2rem 4rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);

  &.dark {
    background-color: hsl(207, 26%, 17%);
  }
}

.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  gap: 2rem;

  .form {
    display: flex;
    align-items: center;

    max-width: 350px;
    width: 100%;

    padding: 0.8rem 1.5rem;
    gap: 1rem;

    background-color: #FFF;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;

    transition: filter 0.2s;
    
    &.dark {
      background-color: var(--dark-gray);
    }

    &:hover {
      filter: brightness(1.1);
    }

    &:focus-within {
      filter: brightness(1.1);
    }

    > input[type="text"] {
      color: var(--white);
      font-size: clamp(0.8rem, 5vw, 1rem);
      font-weight: var(--300);
      
      background-color: transparent;
      
      border: none;

      font-size: 0.875rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--white);
      }
    }
  }
}

.load_wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 50vh;

  margin-top: 2rem;

  > .loading {
    @include loading-spinner(56px, 56px);
  }
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
  margin-top: 3rem;
  gap: 4rem;
}


.load_more_btn_wrapper {
  width: 100%;
  text-align: center;

  margin-top: 3rem;

  > .loading {
    @include loading-spinner(56px, 56px);
  }

  > .load_more_btn {
    padding: 1rem 1.5rem;

    color: var(--white);
    text-align: center;
    font-size: clamp(0.8rem, 5vw, 1rem);

    background-color: #FFF;

    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    border: 1px solid var(--dark-gray);
    border-radius: 0.4rem;
    font-weight: var(--600);

    cursor: pointer;

    transition: filter, transform 0.2s;

    &:active {
      filter: brightness(0.9) !important;
    }

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
    }

    &.dark {
      background-color: var(--dark-gray);
      border-color: var(--white);
    }
  }
}

.select_region_container {
  position: relative;
  max-width: 200px;
  width: 100%;

  .select_region {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 1.5rem;

    border-radius: 0.4rem;

    background-color: #FFF;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

    cursor: pointer;

    transition: filter 0.2s;

    &.dark {
      background-color: var(--dark-gray);
    }

    &:hover {
      filter: brightness(1.1);
    }

    > span {
      color: var(--white);
      font-size: 0.875rem;
    }

    > .chevron {
      fill: #fff;
      width: 10px;

      transition: all 0.2s;

      &.active {
        transform: rotate(180deg)
      }
    }
  }

  .region_list_wrapper {
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -224px;
    width: 100%;
    background-color: hsl(0, 0%, 98%);

    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    margin-top: 1rem;

    &.dark {
      background-color: var(--dark-gray);
    }

    > .region_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      color: var(--white);

      > li {
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        font-size: clamp(0.75rem, 5vw, 0.875rem);
        line-height: 20px;

        transition: filter 0.2s;

        cursor: pointer;

        &:hover {
          backdrop-filter: brightness(1.2);
        }

        &:last-child {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main_wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 687px) {
  .cards_container {
    justify-content: center;
  }
}

@media screen and (max-width: 670px) {
  .top_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .cards_container {
    gap: 2rem;
  }
}
