html, #__next,
body {
  max-width: 100vw;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 400;
  font-size: clamp(0.6rem, 5vw, 0.9rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
:root {
  /* Light Mode */
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%)
  --white: hsl(0, 0%, 100%);

  /* Font Sizes */
  --homepage-items: 0.875rem;
  --detail-page: 1rem;

  /* Font Weights */
  --300: 300;
  --600: 600;
  --800: 800;
}

:root.dark {
  --dark-gray: hsl(209, 23%, 22%);
  --very-light-gray: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --white: hsl(0, 0%, 100%);
}