.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100vw;
  width: 100%;

  padding: 1.4rem 3rem;
  gap: 3rem;
  background-color: var(--white);

  &.dark {
    background-color: var(--dark-gray);
  }

  > #title {
    color: var(--white);
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    font-weight: var(--800);
    cursor: pointer;
  }

  > .switch_mode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--white);
    cursor: pointer;

    &:hover {
      filter: brightness(1.5);
    }

    span {
      color: var(--white);
      font-size: clamp(0.9rem, 5vw, 1rem);
      font-weight: var(--600);
      min-width: 90px;
    }

    > svg {
      transform: scale(0.7);
      width: 30px;

      &.moon_solid {
      }

      &.moon_regular {
        fill: white;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 1.4rem 1rem;

    > #title {
      font-size: clamp(0.5rem, 5vw, 1rem);
      white-space: break-spaces;
    }
  }
}